#container{
	height: 250px;
	width: 250px;
	position: relative;
	top: 30%;
	margin: auto auto;
	background: #D0D0D0; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
}

#title{
	Position: relative;
	top: 10%;
	left: 6%;
}

#loginbox{
	position: relative;
	top: 50px;
	left: 12px;
}

#inputEmail{
	margin-left: 23px;
}

.error{
	background: #FF0000;
}