#container{
	height: 400px;
	width: 400px;
	position: relative;
	top: 25%;
	margin: auto auto;
	background: #D0D0D0; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

}

#title{
	Position: absolute;
	top: 2%;
	left: 5%;
}

#newUserForm{
	position: relative;
	top: 90px;
}
#inputEmail{
	margin-left: 76px;
}

#inputPassword{
	margin-left: 55px;
}

#confirmPassword{
	
}

#streetAddress{
	margin-left: 24px;
}

#city{
	margin-left: 90px;
}

#state{
	margin-left: 84px;
}

#zip{
	margin-left: 95px;
}

#country{
	margin-left: 66px;
}

.error{
	background: #FF0000;
}